body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    margin: 0;
}

.white {
    background-color: white;
    width: 25%;
    height: auto;
    margin: 5% auto 5% auto;
    padding: 2% 0 2% 0;
    border-radius: 30px;
    text-align: center;
   
    
}

.pic {
    height: 80%;
    width: 80%;
    margin: 0;
    border-radius: 15px;
}

h2 {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Outfit', sans-serif;
    font-size: 1.475rem;
}

p {
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
}